<% if notice.present? %>
  <p class="mb mt message message-notice text-green"><%= notice %></p>
<% end %>

<div class="container">
  <div class="text-title mb title-lg">
    <div>
      Person
    </div>

    <div>
      <%= link_to fa_icon('bars'), people_path, title: "Back to people" %>
    </div>
  </div>

  <%= render @person %>
</div>
