<div class="container">
  <p class="mb-sm gr"><%= notice %></p>

  <h2 class="title-lg mb">Person</h2>

  <%= render @person %>

  <div class="mt-sm">
    <%= link_to fa_icon('bars'), people_path, title: "Go to the list of people" %>
  </div>
</div>
