<div class="container">
  <div class="text-title mb title-lg">
    <div>
      Editing post
    </div>

    <div>
      <%= link_to fa_icon('address-card'), post_path(@post),
        title: "Show this post" %> |
      <%= link_to fa_icon('bars'), posts_path,
        title: "Back to posts" %>
    </div>
  </div>

  <%= render "form", post: @post %>
</div>
