<div class="container">
  <p class="mb-sm gr"><%= notice %></p>

  <h2 class="title-lg mb">Posts</h2>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to fa_icon('address-card'), post_path(post), title: "Show this post" %>
      </p>
    <% end %>
  </div>

  <p class="mt"><%= link_to "Add new post", new_post_path, class: "button button-main" %></p>
</div>
