<% if notice.present? %>
  <p class="mb mt message message-notice text-green"><%= notice %></p>
<% end %>

<div class="container mb-sm">
  <div class="text-title title-lg">
    <div>
      Posts
    </div>

    <% if !Rails.env.test? && current_user.present? %>
      <div>
        <%= link_to "Add new post", new_post_path, class: "button button-main" %>
      </div>
    <% end %>
  </div>
</div>

<div id="posts">
  <!-- <%= render @posts %> -->
  <% @posts.each do |post| %>
    <div class="mt-sm container">
      <%= render post %>
    </div>
  <% end %>
</div>
